@tailwind base;
@tailwind components;
@tailwind utilities;


/* form styles */

form > input, form > label {
        display: block;
}

form > label {
    @apply text-sm text-gray-600 mt-6 mb-3 
}

form > input {
    @apply w-full mx-auto p-2 rounded-md 
}

form > button {
    @apply w-full rounded-sm py-2 text-xs
}

.form-footer{
    @apply text-xs text-center my-8
}

.current{
    @apply text-blue-400
}

nav > a{
    @apply mr-4
}

nav a.current{
    @apply text-kindablue
}

/* countdown styles */

.container{
    width: 100vw;
    height: 100vh ;
    background-position: center;
    background-size: cover;
    padding:0 8% ;
}

.logo{
    width:60px;
    padding:20px 0;
    cursor: pointer;
}

.content{
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    color: black;
}

.content h1{
    font-size: 44px;
    font-weight: 500;
}

.content h1 span{
    color: #2083C5 ;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size:60px;
    margin-bottom:  -14px;
}

.rocket{
    width: 250px;
    position: absolute;
    right:10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.white-button{
    @apply my-4 text-kindablue border m-auto px-4 py-2 border-blueish rounded-md
}


.table-col{
    @apply flex m-auto  flex-row text-white py-3 rounded-md justify-between bg-kindablue px-6 w-2/3
}
.table-col2{
    @apply flex flex-row text-black py-3 rounded-md justify-between bg-sky px-6 w-2/3 m-auto mt-2
}

