@tailwind base;
@tailwind components;
@tailwind utilities;


/* form styles */

form > input, form > label {
        display: block;
}

form > label {
    @apply text-xs text-gray-600 my-4
}

form > input {
    @apply w-full mx-auto p-2
}

form > button {
    @apply w-full rounded-sm py-2 text-xs
}

.form-footer{
    @apply text-xs text-center my-8
}

.current{
    @apply text-blue-400
}


nav a.current{
    @apply text-blue-400
}

/* countdown styles */

.container{
    width: 100vw;
    height: 100vh ;
    background-position: center;
    background-size: cover;
    padding:0 8% ;
}

.logo{
    width:60px;
    padding:20px 0;
    cursor: pointer;
}

.content{
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    color: rgb(0, 119, 255);
}

.content h1{
    font-size: 64px;
    font-weight: 500;
}

.content h1 span{
    color: skyblue ;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size:60px;
    margin-bottom:  -14px;
}

.rocket{
    width: 250px;
    position: absolute;
    right:10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}